.godot/
bin/
/android/
.git/
.idea/
.vs/
publish/
Properties/
packages/
.editorconfig
*.user
Directory.Build.props

/MetricsAnalysis/report-hadesancients-graphs/
/MetricsAnalysis/report-hadesancients/